<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :birthday %>
    <%= form.date_select :birthday %>
  </div>

  <div class="field">
    <%= form.label :background_color %>
    <%= form.select :background_color, ['White', 'Light Gray', 'Light Blue', 'Light Green', 'Aqua', 'Coral'], selected: current_user.profile.nil? ? 'White' : current_user.profile.background_color %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
