<p id="notice"><%= notice %></p>
<div class="card container">
  <p>
    <strong>User:</strong>
    <%= @profile.user_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= @profile.name %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= @profile.birthday %>
  </p>

  <p>
    <strong>Background color:</strong>
    <%= @profile.background_color %>
  </p>

  <div>
    <%= link_to 'Edit', edit_profile_path(@profile), class: "btn btn-dark" %>
  </div>
</div>
