<div class="centered">
  <h1>Images</h1>
  <%= link_to 'Home', root_path %>
  <br/>
  <%= link_to 'Add Image', new_image_path %>
</div>

<% @images.each do |i| %>
  <div class="card container">
    <div class="centered">
      <strong><%= i.title %></strong>
    </div>

    <div class="center-img">
      <%= link_to image_path(i) do %>
        <%= image_tag i.image, class: "center_img" if i.image.attached? %>  
      <% end %>
    </div>
  </div>
  <br/>
<% end %>
